# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/*
.vs/*
*.vsidx
*.lock
*.db
*.db
*.ipch
*.sln
*.vcxproj
Project1/.vs/Project1/v17/.suo
Project1/x64/Debug/Project1.pdb
Project1/Project1/x64/Debug/vcpkg.applocal.log
Project1/Project1/x64/Debug/vc143.pdb
Project1/Project1/x64/Debug/vc143.idb
Project1/Project1/x64/Debug/Project1.vcxproj.FileListAbsolute.txt
Project1/Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
Project1/Project1/x64/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/x64/Debug/Project1.log
Project1/Project1/x64/Debug/Project1.ilk
Project1/Project1/x64/Debug/Project1.exe.recipe
Project1/Project1/x64/Debug/Project1.Build.CppClean.log
Project1/Project1/Project1.vcxproj.user
Project1/Project1/Project1.vcxproj.filters
Project1/.vs/Project1/v17/Browse.VC.db-shm
Project1/.vs/Project1/v17/Browse.VC.db-wal
Project1/.vs/Project1/v17/Browse.VC.opendb
*.db-shm
*.db-wal
*.opendb
*.filters
*.user
*.tlog
*.tlog
*.idb
*.pdb
*.ilk
*.log
*.recipe
DSTR_Array/.vs/DSTR_Array/v17/.suo
